.Edit-Button {
  background-color: rgb(69, 205, 214);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(91, 175, 243, 0.822);
  transition: all 250ms;
}
